[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
cchardet = "*"
requests = "*"
lxml = "*"
aiofile = "*"
cssselect = "*"
"bs4" = "*"
uvloop = "*"

[dev-packages]
white = "*"
"autopep8" = "*"
importanize = "*"
"flake8" = "*"
black = "*"

[requires]
python_version = "3.7"
